GEMINI_API_KEY=YOUR_GEMINI_API_KEY
OPENWEATHER_API_KEY=YOUR_OPENWEATHER_API_KEY
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
MAPPLS_CLIENT_ID=YOUR_MAPPLS_CLIENT_ID
MAPPLS_CLIENT_SECRET=YOUR_MAPPLS_CLIENT_SECRET
OPENROUTER_API_KEY=YOUR_OPENROUTER_API_KEY
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN